pypy3.11-v7.3.20-win64/
pypy3.11-v7.3.20-win64/libffi-8.dll
pypy3.11-v7.3.20-win64/libpypy3.11-c.dll
pypy3.11-v7.3.20-win64/pypy3.exe
pypy3.11-v7.3.20-win64/Lib/_lzma_cffi.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/_pypy_openssl.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/_pypy_util_cffi_inner.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/libcrypto-1_1.dll
pypy3.11-v7.3.20-win64/Lib/libssl-1_1.dll
pypy3.11-v7.3.20-win64/Lib/_blake2/_blake2b_cffi.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/_blake2/_blake2s_cffi.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/_sha3/_sha3_cffi.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/kiwisolver/_cext.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/matplotlib/_c_internal_utils.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/matplotlib/_image.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/matplotlib/_path.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/matplotlib/ft2font.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/numpy/_core/_multiarray_umath.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/numpy/linalg/_umath_linalg.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/numpy.libs/libscipy_openblas64_-860d95b1c38e637ce4509f5fa24fbf2a.dll
pypy3.11-v7.3.20-win64/Lib/site-packages/numpy.libs/msvcp140-24e15af6186124e0e662805e8330f910.dll
pypy3.11-v7.3.20-win64/Lib/site-packages/numpy.libs/vcruntime140_1-34048abaa070ecc13b318cea31425f4c.dll
pypy3.11-v7.3.20-win64/Lib/site-packages/PIL/_imaging.pypy311-pp73-win_amd64.pyd
pypy3.11-v7.3.20-win64/Lib/site-packages/psutil/_psutil_windows.pypy311-pp73-win_amd64.pyd
